<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataSaverExampleApp">
        <activity
            android:name=".using_composition_local_of.UsingCompositionLocalOfExampleMainActivity"
            android:exported="false" />
        <activity
            android:name=".using_stateful_dependencies.UsingStatefulDependenciesExampleMainActivity"
            android:exported="false" />
        <activity
            android:name=".using_shared_viewmodel.UsingSharedViewModelMainActivity"
            android:exported="false" />
        <activity
            android:name=".using_navigation.ShareDataUsingNavigationExample"
            android:exported="false" />
        <activity
            android:name=".ShareDataBetweenComposeViewMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DataSaverExampleApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>