<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.datasaverexampleapp"> <!-- this is use the override library so the project can run the android splash screen with the current SDK -->
    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <permission android:name="com.example.datasaverexampleapp.provider.ACCESS_PERMISSION" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".application.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSplash"
        tools:ignore="AllowBackup">
        <activity
            android:name=".compose.simple_example.SimpleComposeActivity"
            android:theme="@style/AppTheme"
            android:exported="false" />
        <activity
            android:name=".compose.ComposeActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".motion_layout.MotionLayoutExampleActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".kotlin_flow_advance.KotlinFlowAdvanceExampleActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".async_recycler_view.AsyncRecyclerViewExampleActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".preference_datastore.PreferenceDataStoreActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".recycler_view_item_animation.RecyclerViewItemAnimationActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".shimmer_animation.ShimmerAnimationActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".paging.PagingExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".wifi_p2p.server.Wifi_P2P_ServerExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".wifi_p2p.Wifi_P2P_ExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".bluetooth.server.BluetoothServerExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".bluetooth.discovery.BluetoothDiscoveryExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".bluetooth.BluetoothExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".camera.video_recording.VideoRecordingWithMediaPlayerExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".camera.video_recording.VideoRecordingExampleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".camera.picture_camera2_activity.PictureCameraActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".camera.controlling_the_camera.CameraViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".camera.controlling_the_camera.ControllingCameraExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".camera.image_capture_intent.ImageCaptureIntentExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".camera.CameraExamplesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".video_audio.audio_recording.AudioRecordingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".video_audio.foreground_service.ForegroundServiceExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".video_audio.background_audio.BackgroundAudioExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".video_audio.media_router_and_casting.MediaRouterAndCastingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".video_audio.media_session.MediaSessionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".video_audio.audio_playback_focus.AudioPlaybackFocusExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".video_audio.exoplayer.ExoPlayerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".video_audio.mediaplayer_video.MediaPlayerVideoPlaybackActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".video_audio.VideoAudioStreamingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".hardware_sensor.book_example.user_activity_recognition.UserRecognitionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".hardware_sensor.book_example.CompassFinalWithSensorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".hardware_sensor.book_example.DeviceOrientationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".hardware_sensor.book_example.ForceMeterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".hardware_sensor.general.HardwareSensorActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".location.maps.GoogleMapsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".location.geocoder.GeoCoderExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".implicit_delegation_example.ImplicitDelegationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".location.LocationMapActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".copy_paste_example.CopyPasteExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".drawing.CompositeDrawableActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".drawing.CompassExampleFinalActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".drawing.DrawExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".animation.floating_action_menu.FloatingActionMenuAnimationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".animation.animator_set.AnimatorSetActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".animation.property.PropertyAnimationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".fullscreen_example.FullScreenExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".vibration.VibrationExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".speech_recognition_example.SpeechRecognitionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".text_to_speech_example.TextToSpeechActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".snackbar.SnackBarActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dialog.DialogExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".appbar.drawer_menu.DrawerMenuActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".appbar.app_bar_bottom_navigation.AppBarBottomNavigationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".appbar.tabs.AppBarTabsActivity"
            android:theme="@style/AppTheme.Custom.NoActionBar" />
        <activity
            android:name=".appbar.scrolling_techniques.AppBarCollapsingToolbarWithImageExampleActivity"
            android:theme="@style/AppTheme.Custom.NoActionBar" />
        <activity
            android:name=".appbar.scrolling_techniques.AppBarCollapsingToolbarExampleActivity"
            android:theme="@style/AppTheme.Custom.NoActionBar" />
        <activity
            android:name=".appbar.scrolling_techniques.AppBarToolbarOffscreenActivity"
            android:theme="@style/AppTheme.Custom.NoActionBar" />
        <activity
            android:name=".appbar.searchview.SearchViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".appbar.menu.AppBarMenuExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".cardview.CardViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".appbar.AppBarActivity2"
            android:parentActivityName=".appbar.AppBarActivity1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".appbar.AppBarActivity1"
            android:parentActivityName=".appbar.AppBarActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".appbar.AppBarActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".animation.activity_transition.ActivityTransition2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".animation.activity_transition.ActivityTransition1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".notification.NotificationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".concurrency.CoroutineExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".work_manager.WorkManagerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".content_provider.ContentProviderActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firebase_real_time.FireBaseRealTimeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".room_db.RoomDBActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".protocol_oriented_programming_kotlin.ProtocolOrientedActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".storage_manager.StorageManagerExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mvvm_coroutine_flow_livedata.MvvMCoroutinesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".concurrency.FlowExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".intent_example.starSignPicker.ActivityForResultActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="starsigns" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intent_example.IntentActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".custom_view.CustomViewExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".custom_view.CustomViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".data_binding.earthQuakeExample.EarthQuakeDataBindingExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".data_binding.DataBindingTestActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".animation.AnimationExampleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".resourceTest.ResourceActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ScrollViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".earth_quake_example.EarthQuakeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".battery.PowerConnectionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".location.GeofencingReceiver" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- Media cast meta data -->
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.example.datasaverexampleapp.video_audio.media_router_and_casting.CastOptionsProvider" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <provider
            android:name=".content_provider.TestContentProvider"
            android:authorities="com.test.provider.datasaverexampleapp"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.example.datasaverexampleapp.provider.ACCESS_PERMISSION"
            android:writePermission="com.example.datasaverexampleapp.provider.ACCESS_PERMISSION" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="[Google KEY]" />

        <service
            android:name=".hardware_sensor.book_example.user_activity_recognition.UserActivityBackgroundService"
            android:exported="false"
            android:label="User activity background Service" />
        <service android:name=".hardware_sensor.book_example.user_activity_recognition.ActivitiesDetectionService" />
        <service
            android:name=".video_audio.background_audio.ExoPlayerMediaPlaybackService"
            android:exported="false" />
        <service
            android:name=".video_audio.foreground_service.ForegroundService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>